*
{
    box-sizing: border-box;
    
}
body
{
    position: absolute;
    width: 550px;
    height: 770px;
    left: 25%;
    font-family: "Inter";
    border-radius: 3px;

    box-shadow: 0px 0px 1px 1px rgb(157, 146, 146),
    1px 1px 3px 1px rgb(157, 146, 146),
    1px 1px 5px 1px rgb(157, 146, 146);
}
body:hover{
    box-shadow: 1px 1px 2px 1px rgb(157, 146, 146),
    1px 1px 8px 1px rgb(157, 146, 146),
    1px 1px 10px 1px rgb(157, 146, 146);
}
.Main--content
{

    width: 550px;
    height: 200px;
}
.browser--logo
{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 50px);
    top: calc(50% - 89px/2 - 324px);
    animation: rotation 10s infinite linear;
}
@keyframes rotation
{
    from{
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
.nav--content
{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 244px;
    top: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.075em;
    color: #fff;

}
.image--div{
    margin-top: 35px;
    margin-left: 50px;
 
}
.image
{
  width: 125px;
  height: 168px;
  border-radius: 6px;
  transition: all 500ms  100ms cubic-bezier(0.175, 0.885, 0.32, 1);
}
.image:hover{
    cursor: pointer;
    
   
    box-shadow: 1px 1px 2px 1px  #4e4e4e,
    1px 1px 4px 1px #4e4e4e,
    1px 1px 8px 1px #4e4e4e;
}

.map
{
 position: absolute;
left: 190px;
margin-top: 10px;
width: 8px;
height:10px;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-name: slidein;
}
@keyframes slidein
{
    from{
        margin-top: 0.4em;
    }
    to
    {
        margin-bottom: 1px;
    }
}
.country
{
    position: absolute;
    left: 203px;
    margin-top: 8px;
    width: 40px;
    height:10px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.15em;
}
.googleMap
{
    position: absolute;
    left: 273px;
    margin-top: 8px;
    width: 150px;
    height:10px;
    font-weight: 400;
    font-size: 11px;
    color:#918E9B ;
   line-height: 12px;
  
}
.googleMap a{
    text-decoration: none;
    transition: all 300ms ease-in;
}
.googleMap a:hover{
    color: red;
    text-decoration: underline;
}
.title
{
 
width: 320px;
height: 40px;
display: flex;
justify-content: flex-start;
align-items: center;
position: relative;
bottom: 150px;
left: 143px;
font-weight: 700;
font-size: 25px;
}
.dates
{
    position: relative;
    bottom: 150px;
    width: 319px;
    margin-top: 5px;
    left: 145px;
    height: 12px;
    font-weight: 700;
    line-height: 12px;
    font-size: 11px;
}
.content{
    position: relative;
    bottom: 150px;
    left: 140px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    width: 326px;
    height: 60px;
    animation-duration: 3s;
    animation-name: fadeInOut;
}

@keyframes fadeInOut
{
    from
    {
        margin-left: 50%;
        width: 120%;
    }
    to
    {
        margin-left: 0%;
        width: 100%;
    }
}
::selection
{
    user-select: none;
}